body,div,h1,h2,h3,ul,li,a,i {
  margin: 0;
  padding: 0;
}

body {
  font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
  background: #fff;
  /* color:rgb(118, 163, 182); */
}

a{
text-decoration: none;
color: #000;
}
i{
  font-style: normal;
}
li { 
  list-style: none;
  float: left;
  margin-right: 20px;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.border1 {
  border-left: 2px solid rgba(134, 171, 190);
  border-top: 2px dashed rgba(134, 171, 190);
  padding-left: -20px;
  padding-top: -20px;

}

.layer {
  width: 540px;
  margin: 0 auto;
  background: #fff;
  /* margin-bottom: 12px; */
  position: relative;
}
.headlayer {
  width: 580px;
  margin: 0 auto;
  background: #fff;
  /* margin-bottom: 12px; */
  position: relative;
}